@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
    #main {
        width: 90vw;
        height: 90vw;
    }
    #buttons {
        margin-top: 20px;
    }
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
    #main {
        width: 90vh;
        height: 90vh;
    }
    #buttons {
        margin-left: 20px;
    }
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

#main {
    /* border: 1px solid #000; */
    flex-direction: column;
}

#randomizeBtn {
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: #ccc;
}

.rowDiv {
    width: 100%;
    height: 12.5%;
    display: flex;
    flex-direction: row;
}

.coinDiv {
    width: 12.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin {
    width: 95%;
    height: 95%;
    border-radius: 50%;
}

.red {
    background-color: #eb4034;
}

.blue {
    background-color: #3bb3db;
}